@font-face {
	font-family: "Icons";
	src: url("./font/fontello.1586352043988.eot");
	src: url("./font/fontello.1586352043988.eot") format("embedded-opentype"),
		url("./font/fontello.1586352043988.woff2") format("woff2"),
		url("./font/fontello.1586352043988.woff") format("woff"),
		url("./font/fontello.1586352043988.ttf") format("truetype"),
		url("./font/fontello.1586352043988.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	font-family: "Icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spin4::before { content: "\e834"; }

.icon-cancel::before { content: "\e800"; }

.icon-upload::before { content: "\e801"; }

.icon-spin3::before { content: "\e832"; }

.icon-reply::before { content: "\f112"; }

.icon-star::before { content: "\e802"; }

.icon-star-empty::before { content: "\e803"; }

.icon-retweet::before { content: "\e804"; }

.icon-eye-off::before { content: "\e805"; }

.icon-binoculars::before { content: "\f1e5"; }

.icon-cog::before { content: "\e807"; }

.icon-user-plus::before { content: "\f234"; }

.icon-menu::before { content: "\f0c9"; }

.icon-logout::before { content: "\e808"; }

.icon-down-open::before { content: "\e809"; }

.icon-attach::before { content: "\e80a"; }

.icon-link-ext::before { content: "\f08e"; }

.icon-link-ext-alt::before { content: "\f08f"; }

.icon-picture::before { content: "\e80b"; }

.icon-video::before { content: "\e80c"; }

.icon-right-open::before { content: "\e80d"; }

.icon-left-open::before { content: "\e80e"; }

.icon-up-open::before { content: "\e80f"; }

.icon-comment-empty::before { content: "\f0e5"; }

.icon-mail-alt::before { content: "\f0e0"; }

.icon-lock::before { content: "\e811"; }

.icon-lock-open-alt::before { content: "\f13e"; }

.icon-globe::before { content: "\e812"; }

.icon-brush::before { content: "\e813"; }

.icon-search::before { content: "\e806"; }

.icon-adjust::before { content: "\e816"; }

.icon-thumbs-up-alt::before { content: "\f164"; }

.icon-attention::before { content: "\e814"; }

.icon-plus-squared::before { content: "\f0fe"; }

.icon-plus::before { content: "\e815"; }

.icon-edit::before { content: "\e817"; }

.icon-play-circled::before { content: "\f144"; }

.icon-pencil::before { content: "\e818"; }

.icon-chart-bar::before { content: "\e81b"; }

.icon-smile::before { content: "\f118"; }

.icon-bell-alt::before { content: "\f0f3"; }

.icon-wrench::before { content: "\e81a"; }

.icon-pin::before { content: "\e819"; }

.icon-ellipsis::before { content: "\f141"; }

.icon-bell-ringing-o::before { content: "\e810"; }

.icon-zoom-in::before { content: "\e81c"; }

.icon-gauge::before { content: "\f0e4"; }

.icon-users::before { content: "\e81d"; }

.icon-info-circled::before { content: "\e81f"; }

.icon-home-2::before { content: "\e821"; }

.icon-chat::before { content: "\e81e"; }

.icon-login::before { content: "\e820"; }

.icon-arrow-curved::before { content: "\e822"; }

.icon-link::before { content: "\e823"; }
